nav {
    background-color: white;
    /* box-shadow: none; */
    margin-bottom: 2%;
}

body {
    background-image: url("./dynamic-style.png")
}

#login {
    color: gray;
    font-size: 20px;
}

nav .brand-logo {
    /* color: #7cb342; */
    color: #f57c00;
    font-weight: bold;
}

#signup {
    margin-right: 0;
    background-color: #f57c00;
}