nav {
    background-color: white;
    /* box-shadow: none; */
    margin-bottom: 2%;
}

body {
    background-image: url("./creampaper.png");
    /* background-image: url("./beige-tiles.png"); */
    /* background-color: #d7ccc8; */
   
}

#login {
    color: gray;
    font-size: 20px;
}

nav .brand-logo {
    color: #f57c00;
    font-weight: bold;
}

#signup {
    margin-right: 0;
    background-color: #f57c00;
}