nav {
    background-color: white;
    /* box-shadow: none; */
    margin-bottom: 2%;
}

#login {
    color: gray;
    font-size: 18px;
}

nav .brand-logo {
    /* color: #7cb342; */
    color: #26a69a;
    font-weight: bold;
}

#signup {
    margin-right: 0;
}