.card.large {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

figure {
    width: 490px;
    overflow: hidden;
    margin: 0;
}

figure img {
    display: block;
    width: 130%;
    float: left;
}

#text {
    float: left;
    margin-left: 30px;
}

.waves-effect {
    background-color: #f57c00;
}

.waves-effect :hover {
    background-color: #ffe0b2;
}

p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: gray;
}

h2 {
    color: gray;
    font-weight: bold;
}